body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
background:#111;
color:white;
padding:15px 40px;
}

.cart-btn{
color:white;
text-decoration:none;
font-size:18px;
}

.container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
padding:40px;
}

.product{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 4px 15px rgba(0,0,0,0.1);
text-align:center;
}

.product img{
width:100%;
border-radius:10px;
}

button{
background:#007bff;
border:none;
padding:10px 15px;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

#cart-items{
padding:30px;
}

.cart-item{
display:flex;
justify-content:space-between;
background:white;
padding:15px;
margin:10px;
border-radius:10px;
}

.buy-btn{
display:block;
margin:30px auto;
background:green;
padding:15px 30px;
font-size:18px;
}