body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:black;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

a{
color:white;
text-decoration:none;
}

.container{
display:flex;
gap:20px;
padding:20px;
}

.product{
background:white;
padding:20px;
border-radius:10px;
width:150px;
text-align:center;
}

button{
background:black;
color:white;
border:none;
padding:8px;
cursor:pointer;
}

#cart-items{
padding:20px;
}